# Environnement virtuel
.venv/

# Cache Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Données locales
data/raw/
data/chroma/

# Secrets / variables d'environnement
.env
.streamlit/secrets.toml

# Fichiers système
.DS_Store
Thumbs.db